@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: "Fira Sans", sans-serif;
    overflow-x: hidden;
    font-size: 1.25em;
}

h1.title {
    margin: 0.5em 0;
    text-align: center;
}

#containers {
    height: 87.5%;
}

ul {
    list-style-type: none;
    display: block;
    height: 100%;
    flex: 1;
    overflow-y: scroll;
    scrollbar-width: none;
}

li {
    width: 90%;
    margin: 0 auto;
    padding: 5px;
}

li small {
    font-size: 0.75em;
    padding-left: 2.1em;
}

li:nth-child(odd) {
    background-color: #ccc;
}

li a {
    left: 10px;
    font-weight: 500;
    display: inline;

    text-decoration: none;
    color: #000000;
}

li:not(:has(svg)) a {
    padding-left: 1.3em;
}

li svg {
    height: 1em;
    width: auto;
    vertical-align: -0.125em;
}

li span {
    padding-right: 0.2em;
    float: right;
}

span#error {
    font-size: 2em;
    display: block;
    text-align: center;
}