name: Build for Kindle

on:
  push:
    branches:
      - main
    paths:
      - "kindle-app-go/**"
      - ".github/workflows/**"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.25"

      - name: Build Go app
        working-directory: kindle-app-go
        env:
          API_URL: ${{ vars.API_URL }}
        run: |
          go build -o docker-kindle \
            -ldflags "-X 'main.API_URL=${API_URL}'"

      - name: Upload artifact
        uses: actions/upload-artifact@v6
        with:
          name: docker-kindle
          path: ./kindle-app-go/docker-kindle
